header{
    text-align: center;
   background-color:brown;
   padding-bottom: 89px;
   padding-top: 89x;
}
a{
    text-decoration: none;
    padding-left: 16px;
    padding-right: 16px;
  text-align: center;
  color:white;
}
section{
    border: 1px solid #ccc;
    padding: 20px;
    max-width: 800;
 
border-radius: 5px;
width: 40%;
text-align: center;
display: block;
margin: 70px;
}
header{
    text-align: center;
   background-color:brown;
   padding-bottom: 89px;
   padding-top: 89x;
}
